body {
    height: 100%;
}

.info {
    background-color: #d9edf7;
}
#content {
    height: 90%;
}

#header {
    padding: 10px !important;
}

#instructionText{
    height: 500px;
    width: 75%;
}

#voteTable {
}

#instructTable {
    font-size: 18pt;
}

#instructionArea {
    height: 500px;
}