<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <script type="text/javascript" src="static/reconnecting-websocket.min.js"></script>
  </head>
  <script>
    //websocket stuff
    var outbox = new ReconnectingWebSocket("ws://"+ location.host + "/submit");
    var inbox = new ReconnectingWebSocket("ws://"+ location.host + "/wsupdate");



    /*
    outbox.onclose = function(){
        console.log('outbox closed');
        this.outbox = new WebSocket(outbox.url);
    };
    */

    inbox.onmessage = function(message) {
        console.log('got it');
        var data = JSON.parse(message.data);
        console.log(data);
    }

    //send an instruction
    $(function() {
        $('#sendProp').on('click', function(event) {
            console.log('click');
            var instruct = $('input[name="input"]').val();
            var u_id = '1';
            outbox.send(JSON.stringify({instruct : instruct, u_id : u_id}));
        });
    });

    /*
    $(function() {
      $('#sendProp').bind('click', function() {
        $.getJSON('/send_my_inst', {
          u_instruct: $('input[name="input"]').val(),
          u_id: String(id),
        }, function(data) {
          $('#uInstruct').val('');
          alert(data.result);
          //$("#uInstruct").text(data.result);
        });
        return false;
      });
    });
    */

</script>
</head>
<body>
</body>
</html>
