<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  <script type=text/javascript>
    //send an instruction
    $(function() {
      $('#calculate').bind('click', function() {
        $.getJSON('/instruction_input', {
          u_instruct: $('input[name="input"]').val(),
        }, function(data) {
          alert('recieved: '+data.result);
          //$("#uInstruct").text(data.result);
        });
        return false;
      });
    });
    
    setInterval(function() {
        $.getJSON('/vote_input', {},
        function(data) {
            var d = data.result.split('\n');
            var votes = '';
            for(var i in d) { 
                votes += '<tr><td>'+d[i]+'</td></tr>';
            }
            $('#voteTable').html(votes); 
        });
    });

    setInterval(function() {
        $.getJSON('/get_instructions', {},
        function(data) {
            console.log(data.result);
            var d = data.result.split('\n');
            var votes = '';
            for(var i in d) { 
                console.log(d[i]);
                votes += '<tr><td>'+d[i]+'</td></tr>';
            }
            $('#instructTable').html(votes); 
        });
    });
  </script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Canned Mentorship</h1>
        <p>Please wait for instructions</p>
      </div>
    </div>
    <div id="content" class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
          <table id="instructTable" class="table">
            <thead>
              <tr><th>Curent Instructions</th></tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <form>
            <input id="uInstruct" type="text" size="75" name="input"> 
            <button id="calculate" type="button" class="btn btn-default">
              Button
            </button
          </form>
        </div>       
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas">
          <table id="voteTable" class="table">
            <thead>
              <tr><th>suggested answers:</th></tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</body>
</html>

<!--
        </div>
      </div>
      <hr/>
      <div>
      <p>
      </div>
    </div>
  </body>
</html>
-->
