<!DOCTYPE html>
<html lang="en">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <script type="text/javascript" src="static/reconnecting-websocket.min.js"></script>
<script>
    //websocket stuff
    var ws = new ReconnectingWebSocket("ws://"+ location.host + "/ws");

    ws.onopen = function() {
        //initially, we need to ask for an id
        console.log('open from client side');
    }

    ws.onmessage = function(message) {
        console.log('got it');
        var data = JSON.parse(message.data);
        console.log(data.id);
        $("#idstatus").html("your id is: "+data.id);
    }

</script>
</head>
<body>
    <div id="header" class="jumbotron">
        <div class="container">
            <h1>Canned Mentorship</h1>
            <p>Work with others to write a how-to instruction list for-</br> <strong>How to get from Wilson Commons to the CS minor's lab</strong></p>
        </div>
    </div>
    <div id="content" class="container">
        <h2 id="idstatus">your id goes here</h2>    
        <h2 id="connectionstatus">connection status goes here</h2>
    </div>
</body>
</html>
