<!DOCTYPE html>
<html lang="en">
<head>
    <title>Canned Mentorship</title>
    <link href="{{ url_for('static', filename='style/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style/style.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='script/jquery-1.11.1.min.js') }}"></script>
    <!--<script src="{{ url_for('static', filename='script/reconnecting-websocket.min.js') }}"></script>-->
    <script src="{{ url_for('static', filename='script/updateApp.js') }}"></script>
<script>
    //websocket stuff
    var ws = new WebSocket("ws://"+ location.host + "/ws");

    //the update function
    ws.onmessage = function(message) {
        var data = JSON.parse(message.data);
        if(data.state)
            updateState(data);
        if(data.leader)
            updateLeader(data);
        if(data.directions)
            updateUserDirections(data);
        if(data.numPlayers)
            $("#numPlayersDiv").html("players online: "+data.numPlayers);
    }

    $(window).unload(function() {
        ws.send('close');
        ws.close();
    });

</script>
</head>
<body>
    <div id="header" class="jumbotron">
        <div class="container">
            <h1>Canned Mentorship</h1>
            <p>Work with others to write a how-to instruction list for-<br> <strong>How to write a hash table in Java</strong></p>
        </div>
    </div>
    <div id="content" class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-md-8">
                <table id="instructTable" class="table table-bordered">
                    <thead>
                        <tr class="info">
                            <th>How-to list so far</th>
                        </tr>
                    </thead>
                    <tbody >
                    </tbody>
                </table>
                <div class="input-group">
                    <input id="propText" type="text" name="input" class="form-control"> 
                    <span class="input-group-btn">
                        <button id="propButton" type="button" class="btn btn-primary">
                            Send
                        </button>
                    </span>
                </div>
                <div id="propFinishDiv">
                    <button id="proposeInstruct" type="button" class="btn btn-primary">
                        Propose Next Step
                    </button>
                    <button id="finishButton" type="button" class="btn btn-primary">
                        Think the how-to is complete? Click here to finish
                    </button>
                </div>
            </div>       
            <div class="col-sm-4 sidebar-offcanvas">
                <h5 id="amILeadDiv">stuff</h5>
				<h5 id="numPlayersDiv">things</h5>
                <div class="alert alert-info" role="alert">
                    <h4><strong>What to do:</strong></h4>
                    <h4 id="currDirections">stuff</h4>
                </div>
                <div id="voteFinish" class="input-group">
                </div>
                <div class="input-group">
                    <table id="voteTable" class="table table-striped">
                        <thead>
                            <tr><th>suggested answers:</th></tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
