<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  </head>
  <script>
    //get my id
    var id = -1;
    var leader = false;
    var state = 'wait';
    $.ajax({
        url: '/get_id', 
        async: false,
        success: function(data) {
                id = data.result;
        }
    });
    console.log(id);

    //send an instruction
    $(function() {
      $('#sendProp').bind('click', function() {
        $.getJSON('/instruction_input', {
          u_instruct: $('input[name="input"]').val(),
        }, function(data) {
          alert('recieved: '+data.result);
          //$("#uInstruct").text(data.result);
        });
        return false;
      });
    });
    
    $(function() {
      $('#proposeInstruct').bind('click', function() {
        $.getJSON('/propose_instruct', {
          u_instruct: $('input[name="input"]').val(),
        }, function(data) {
          alert('recieved: '+data.result);
          //$("#uInstruct").text(data.result);
        });
        return false;
      });
    });

    //get updates
    setInterval(function() {
        $.getJSON('/updates', {},
        function(data) {
            //console.log(data);
            //leader
            if(data.leader == id) {
                leader = true;
                $('#amILead').html('You are leader'); 
            }
            else {
                leader = false;
                $('#amILead').html('You are not leader'); 
            }
    
            state = data.state
            curr_inst = '';
            console.log(state);
            switch(state) {
                case 'find':
                    if(leader)
                        curr_inst = 'propose a new instruction!';
                    else
                        curr_inst = 'wait for the leader to propose a new instruction!';
                    break;
                case 'write':
                    curr_inst = 'write the instruction for this step';
                    break;
                case 'vote':
                    curr_inst = 'vote on which step you think is best';
                    break;
                default:
                    curr_inst = 'error';
                    break;
            }
            $("#currStep").html(curr_inst);
            //the voting area
            var d = data.choices.split('\n');
            var votes = '';
            for(var i in d) { 
                votes += '<tr><td>'+d[i]+'</td></tr>';
            }
            $('#voteTable tbody').html(votes); 
            
            //the current instructions
            d = data.instructions.split('\n');
            var instructions = '';
            for(var i in d) { 
                instructions += '<tr><td>'+d[i]+'</td></tr>';
            }
            $('#instructTable tbody').html(instructions); 
        });
    });

  </script>
  </head>
  <body>
    <div id="header" class="jumbotron">
      <div class="container">
        <h1>Canned Mentorship</h1>
        <p>Help us make great instruction manuals!</p>
      </div>
    </div>
    <div id="content" class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-md-8">
          <table id="instructTable" class="table table-bordered">
            <thead>
              <tr class="info"><th>Curent Instructions</th></tr>
            </thead>
            <tbody >
            </tbody>
          </table>
          <div class="input-group">
            <input id="uInstruct" type="text" size="1" name="input" class="form-control"> 
            <span class="input-group-btn">
                <button id="sendProp" type="button" class="btn btn-primary">
                  Send
                </button>
            </span>
          </div>
        </div>       
        <div class="col-sm-4 sidebar-offcanvas">
          <h3 id="amILead">stuff</h3>
          <h4 id="currStep">stuff</h4>
          <button id="proposeInstruct" type="button" class="btn btn-primary">
          Propose Next Instruction
          </button>
          <table id="voteTable" class="table table-striped">
            <thead>
              <tr><th>suggested answers:</th></tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</body>
</html>
